<p>read works!</p>

<h4>
    id: "zmrzqximWuUqWBZNni4g", name: "Actividad1", date: "2020-04-23", prediction: "N/A", img: "https://images.vexels.com/media/users/3/139344/isolated/preview/04f2d79f761a2663177cb6ab3700a484-icono-cuadrado-cuadrado-redondeado-by-vexels.png"
</h4>

<div class="container">
    <div class="row m-3">
        <input type="button" (click)="goUpdate()" name="update" value="Update" id="update_button" class="btn btn-primary col-md-4">
    </div>
    <div class="row m-3">
        <input type="button" (click)="goDelete()" name="delete" value="Delete" id="delete_button" class="btn btn-primary col-md-4">
    </div>
</div>
